<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">

      <title>{% block title %}Average forecast{% endblock %}</title>
      {% block style %} {% endblock style %}
  </head>

  <body>
    {% block content %}
    {% endblock content %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block script %} {% endblock script %}
  </body>
</html>