{% extends 'weather/base.html' %}
{% load static %}



{% block content %}

<table class="simple-little-table" cellspacing="0">
  <tr>
    <th>Алгоритмы</th>
    <th>Выполненность</th>
    <th>Наличие прогонов</th>
  </tr>

  <tr>
    <td>Генетический алгоритм</td>
    <td>100%</td>
    <td>Да</td>
  </tr>

  <tr>
    <td>Муравьиный алгоритм</td>
    <td>100%</td>
    <td>Да</td>
  </tr>

  <tr>
    <td>Метод Ньютона</td>
    <td>20%</td>
    <td>Нет</td>
  </tr>

  <tr>
    <td>Дифференциальный алгоритм</td>
    <td>80%</td>
    <td>Нет</td>
  </tr>

  <tr>
    <td>Метод наискорейшего пуска</td>
    <td>100%</td>
    <td>Да</td>
  </tr>

  <tr>
    <td>Случайный поиск</td>
    <td>23%</td>
    <td>Да</td>
  </tr>

  <tr>
    <td><a href="blog.harrix.org">Гиперссылка</a></td>
    <td>80%</td>
    <td><a href="blog.harrix.org">Да</a></td>
  </tr>
</table>

<div>
  <h2 class="title is-2">Tasks</h2>
  <h3>Choose a task length:</h3>
  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary" data-type="1">Short</button>
      <button class="button is-primary" data-type="2">Medium</button>
      <button class="button is-primary" data-type="3">Long</button>
    </p>
  </div>
</div>
<br><br>
<div>
  <h2 class="title is-2">Task Status</h2>
  <br>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody id="tasks">
    </tbody>
  </table>
</div>

{% endblock content %}