{% extends 'weather/base.html' %}
{% load static %}



{% block content %}
<button class="button is-primary" id="request_forecast_button" data-city='moscow'>Request forecast update</button>
<table class="simple-little-table" cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th>Air temp. (C)</th>
      <th>Condition</th>
      <th>Wind direct (degree)</th>
      <th>Wind speed (kph)</th>
      <th>Humidity</th>
      <th>Pressure (mb)</th>
      <th>Pricipitations (mm)</th>
    </tr>
  </thead>
    <tr id="yahoo_weather">
      <th>Yahoo Weather </th>
    </tr>
    <tr id="weatherapi">
      <th>WeatherApi </th>
    </tr>
  <tbody id="forecasts_table">
  </tbody>
</table>


{% endblock content %}